<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "style.css" rel = "stylesheet" type = "text/css">
    <title>TimeStamp API</title>
</head>
<body>
    <div class = "header">
        <h1>TimeStamp MicroService</h1>

        <hr>

        <h2>By using this A.P.I/MicroService you can get unix time of your input Date or can convert Unix time to U.T.C</h2>

        <h2 class = "heading2">How to Use</h2>
        
        <h2 class = "exText">Just put this U.R.L - <i><b>"https://Unix2Utc/api/timestamp/date"</b></i> Replacing last word date with real date in YY-MM-DD format (all numeric) </h2> 

        <h2 class = "heading3">
        Example Usage </h2>
        <h2 class = "exLink"> <a href = "https://Unix2Utc/api/timestamp/2021-04-08">https://Unix2Utc/api/timestamp/2021-04-08</a></h2>
        <hr>
    </div>

    <div class = "footer">Made with ❤️ by Vivek Gusain</div>
</body>
</html>